@{
    ViewBag.Title = "Welcome";
}

<div class="jumbotron">
    <h1>AdventureWorks</h1>
    <p class="lead">Employee directory and organizational chart demo application.</p>
    <p><a href="~/vEmployee/" class="btn btn-primary btn-lg">Start &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        
        <h2><img src=" ~/images/SearchGrid.png" /> Directory</h2>
        <p>
            
            Simple list demo of AdventureWorks employees information.
        </p>
        <p><a class="btn btn-default" href="~/vEmployee/">Go to directory &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2><img src=" ~/images/Workflow.png" /> Organizational Chart</h2>
        <p>Simple chart demo of AdventureWorks organizational structure.</p>
        <p><a class="btn btn-default" href="~/OrgChart/OrgChart/">Go to chart &raquo;</a></p>
    </div>
    @*<div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>